<!-- hide if it doesn't belong to us -->

<h1>Edit <%=@exercise.name%> on <%=@exercise.date%></h1>
<p> Edit your exercises information. <p>
<ul>
<form method="POST" action="/exercises/<%=@exercise.id%>">
  <input type="hidden" name= "_method" value="PATCH">
  <label> Exercise: </label> <input type="text" name="exercise[name]" value= "<%=@exercise.name%>">
  <label> Sets: </label><input type="integer" name="exercise[sets]" value= "<%=@exercise.sets%>">
  <label> Reps: </label><input type="integer" name="exercise[reps]" value= "<%=@exercise.reps%>">
  <label> Weight: </label><input type="integer" name="exercise[weight]" value= "<%=@exercise.weight %>">
  <label> Notes: </label><input type="text" name="exercise[notes]" value= "<%=@exercise.notes %>">
  <label> Date: </label><input type="date" name="exercise[date]" value= "<%=@exercise.date %>">
  <input type="submit" value="Edit">
  <br>

</form>

<a href="/exercises">Home</a>
