<%if @workout.empty?%>
  <h1>No Workouts on This Date</h1>
<%else%>
<h1> Workout on <%=@workout.first.date %></h1>
  <ul><% @workout.each do |e|%>
  <li><strong><%= e.name %>:</strong> <%= e.sets %> x <%= e.reps %> @ <%= e.weight %>lbs <%= e.notes %>
  <a href="/exercises/<%= e.id %>/edit">Edit</a>
  <% end %></ul>
<%end%>
<a href="/exercises/new">Add another exercise</a> <br>
<a href="/exercises">Home</a>
